@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$green: #0E7734;
$green-dark: #0B5F29;
$green-light: #178D42;
$green-lighter: #36CE29;
$gray: #BBB;
$gray-dark: #848484;
$gray-light: #CCC;

$font-family-for-navigation: "Roboto Condensed";
$font-family-for-headers: "Roboto Slab";
$font-family-for-content: "Roboto";
