@mixin link-default($color, $color-hover) {
    color: $color;
    text-decoration: underline;

    &.btn, &.carousel-control {
        text-decoration: none;
    }

    &:hover,
    &:focus {
        color: $color-hover;
    }
}
