@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$green: #0E7734;
$green-light: #178D42;
$green-lighted: #36CE29;
$green-dark: #0B5F29;
$green-gradient: linear-gradient(180deg, $green-light 0%, $green-dark 100%);
$blue: #1D7C9B;
$gray: #848484;
$gray-light: #BBBBBB;
$gray-lighten: #CCCCCC;
$shadow-default: 0px 0px 4px rgba(0, 0, 0, 0.5);
$transition-duration-default: 0.3s;
$link-color: $blue;
$link-hover-color: $green-dark;

$red: #E11E1E;

$gold-light: #E8D9B4;
$gold-dark: #CFB575;
$gold-gradient: linear-gradient(180deg, $gold-light 0%, $gold-dark 100%);

$font-family-for-navigation: "Roboto Condensed";
$font-family-for-headers: "Roboto Slab";
$font-family-for-content: "Roboto";

$navbar-height: 70px;
$navbar-bg: $green-dark;
$navbar-gradient: $green-gradient;
$navbar-brand-logo-width: 335px;
$navbar-brand-logo-width-short: 180px;
$navbar-brand-logo-height: $navbar-height;
$navbar-brand-logo-margin-right: 20px;
$navbar-brand-title-width: 265px;
$navbar-brand-title-font-size: 18px;
$navbar-brand-title-line-height: 20px;
$navbar-link-line-height: 20px;
$navbar-link-padding-vertical: calc(($navbar-height - $navbar-link-line-height) / 2);
$navbar-link-padding-horizontal: $navbar-link-padding-vertical * 0.75;
$navbar-link-color: #FFF;
$navbar-link-active-color: #B6D6C2;
$navbar-link-hover-bg: $green-dark;
$navbar-link-active-bg: $navbar-link-hover-bg;
$navbar-btn-radius: 0.5rem;
$navbar-btn-color: $navbar-link-active-color;
$navbar-btn-border-color: $navbar-btn-color;
$navbar-btn-hover-bg: $navbar-link-hover-bg;

$content-header-large-margin-size: 20px;
$content-header-large-font-size: 32px;
$content-header-delta: 5px;
$content-lead-font-size: 20px;
$content-link-color: $link-color;
$content-link-hover-color: $link-hover-color;
$content-font-size: 16px;

$footer-padding-vertical: 25px;
$footer-bg: $green-dark;
$footer-font-family: $font-family-for-navigation;
$footer-font-size: $content-font-size;
$footer-copyright-color: $navbar-link-active-color;
$footer-copyright-font-size: $footer-font-size * 0.9;
$footer-nav-link-color: $navbar-link-color;
$footer-nav-link-hover-color: $navbar-link-active-color;
$footer-nav-link-active-color: $footer-nav-link-hover-color;
$footer-shadow: inset $shadow-default;
